$black: #000000;
$white: #FFFFFF;

$gray-1: #292D32;
$gray-2: #9197B3;
$gray-3: #B5B7C0;
$gray-4: #757575;
$gray-5: #F5F5F5;
$gray-6: #FAFBFF;

$green-1: #008767;
$green-2: #00B087;
$green-3: #16C098;

$red-1: #DF0404;
$red-2: #FFC5C5;