$black: #000000;
$white: #ffffff;

$gray-1: #292d32;
$gray-2: #9197b3;
$gray-3: #b5b7c0;
$gray-4: #757575;
$gray-5: #f5f5f5;
$gray-6: #fafbff;
$gray-7: #f9fbff;
$gray-8: #eeeeee;

$green-1: #008767;
$green-2: #00b087;
$green-3: #16C098;
$green-4: #16C09861;

$red-1: #df0404;
$red-2: #ffc5c5;

$blue-1: #5932ea;
$blue-2: #e4ddff;
