doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body 
    div.customers
      header.customers__header
        div.customers__header-wrapper
          h2.customers__header-title All Customers
          p.customers__header-subtitle Active Members
        div.search
          img.search__icon(src="images/icons/content/search.svg" alt="#")
          input.search__input(type="text" placeholder="Search")

      include ./table.pug