doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body 
    aside.sidebar
      img(src="./src/assets/images/icons/logo.svg" alt="Logo").sidebar__logo
      nav.sidebar__nav
        ul.sidebar__nav-list
          li.sidebar__nav-item
            svg.sidebar__icon
              use(xlink:href="./src/assets/images/icons/dashboard/sprites.svg#icon-dashboard")
          li.sidebar__nav-item
            svg.sidebar__icon
              use(xlink:href="./src/assets/images/icons/dashboard/sprites.svg#icon-product")
          li.sidebar__nav-item
            svg.sidebar__icon
              use(xlink:href="./src/assets/images/icons/dashboard/sprites.svg#icon-customers")
          li.sidebar__nav-item
            svg.sidebar__icon
              use(xlink:href="./src/assets/images/icons/dashboard/sprites.svg#icon-income")
          li.sidebar__nav-item
            svg.sidebar__icon
              use(xlink:href="./src/assets/images/icons/dashboard/sprites.svg#icon-promote")
          li.sidebar__nav-item
            svg.sidebar__icon
              use(xlink:href="./src/assets/images/icons/dashboard/sprites.svg#icon-help")