doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body 
    aside.sidebar
      img.sidebar__logo(src="images/icons/logo.svg" alt="Logo" height="37")
      nav.sidebar__nav
        ul.sidebar__nav-list
          li.sidebar__nav-item
            svg.sidebar__icon(width="24" height="24")
              use(xlink:href="images/icons/dashboard/sprites.svg#icon-dashboard")
          li.sidebar__nav-item
            svg.sidebar__icon(width="24" height="24")
              use(xlink:href="images/icons/dashboard/sprites.svg#icon-product")
          li.sidebar__nav-item
            svg.sidebar__icon(width="24" height="24")
              use(xlink:href="images/icons/dashboard/sprites.svg#icon-customers")
          li.sidebar__nav-item
            svg.sidebar__icon(width="24" height="24")
              use(xlink:href="images/icons/dashboard/sprites.svg#icon-income")
          li.sidebar__nav-item
            svg.sidebar__icon(width="24" height="24")
              use(xlink:href="images/icons/dashboard/sprites.svg#icon-promote")
          li.sidebar__nav-item
            svg.sidebar__icon(width="24" height="24")
              use(xlink:href="images/icons/dashboard/sprites.svg#icon-help")