.customers {
  position: relative;
  padding: 3rem 4.4rem 4rem 3.8rem;
  background-color: $white;
  box-shadow: 0px 1rem 6rem rgba(226, 236, 249, 0.50);
  border-radius: 3rem;
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-title {
    margin: 0;
    color: $black;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.022rem;
  }

  &__header-subtitle {
    margin: 0.7rem 0 0;
    color: $green-3;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -0.014rem;
  }
}