.content {
  padding: 4.1rem 9.5rem 4.1rem 7.1rem;
  overflow-x: hidden;
  @include v-xl {
    padding: 4.1rem 16px 4.1rem 16px;
  }

  &__title {
    margin: 0 0 5.2rem;
    font-size: 2.4rem;
    font-weight: 500;
    @include v-lg {
      margin: 0 0 2rem;
    }
  }
}
