@import '../abstracts/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 3.6rem 2.8rem 7.6rem;
  background-color: $white;
  box-shadow: 0px 1rem 6rem 0px rgba(226, 236, 249, 0.5);

  &__logo {
    width: 21.7rem;
  }

  &__nav {
    margin-bottom: 3.2rem;
  }

  &__nav-list {
    margin-top: 5.3rem;
    display: flex;
    gap: 1.8rem;
    flex-direction: column;
    padding: 0;
    list-style: none;
    color: $gray-2;
  }

  &__nav-item {
    padding: 1.1rem 0.8rem 1.1rem 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
      color: $white;
      background-color: $blue-2;
    }
  }

  &__nav-item--selected {
    color: $white;
    background-color: $blue-1;
    &:hover {
      color: $white;
      background-color: $blue-1;
    }
  }

  &__nav-item > span {
    margin-left: 1.4rem;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  &__chevron-right {
    margin-left: auto;
    height: 1.6rem;
    width: 1.6rem;
  }

  &__user {
    margin-top: auto;
    display: flex;
  }

  &__user-wrapper {
    margin-left: 1.2rem;
  }

  &__user-name {
    margin: 2px 0 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: $black;
    letter-spacing: 0.014rem;
  }

  &__user-position {
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 0.012rem;
    color: $gray-4;
  }

  &__user-img {
    border-radius: 50%;
    width: 4.2rem;
    height: 4.2rem;
  }
}
