doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    .dashboard-container
      aside.sidebar
        p.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellendus dicta sequi 
          ducimus voluptate doloremque natus asperiores et tempore sunt, explicabo, vitae est 
          soluta cumque aliquam facilis nihil? Natus, officiis!
        p.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellendus dicta sequi 
          ducimus voluptate doloremque natus asperiores et tempore sunt, explicabo, vitae est 
          soluta cumque aliquam facilis nihil? Natus, officiis!
        p.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellendus dicta sequi 
          ducimus voluptate doloremque natus asperiores et tempore sunt, explicabo, vitae est 
          soluta cumque aliquam facilis nihil? Natus, officiis!
      main.content
        h1 Hello Evano 👋🏼,
        p.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellendus dicta sequi 
          ducimus voluptate doloremque natus asperiores et tempore sunt, explicabo, vitae est 
          soluta cumque aliquam facilis nihil? Natus, officiis!
        p.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellendus dicta sequi 
          ducimus voluptate doloremque natus asperiores et tempore sunt, explicabo, vitae est 
          soluta cumque aliquam facilis nihil? Natus, officiis!
        p.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellendus dicta sequi 
          ducimus voluptate doloremque natus asperiores et tempore sunt, explicabo, vitae est 
          soluta cumque aliquam facilis nihil? Natus, officiis!
